body{
    background-color: blue;
}
header {
    background-color: blue;
    border: 0.3rem solid white;
    border-radius: 2.5rem;
    width: 50vh;
    height: 10vw;
    color: white;
    margin: 10rem 25rem;
    text-align: center;
    font-size: 1.5rem;
}
header:hover {
    background-color: white;
    color: blue;
    transform: translateY(-20px);
}